
@{
    ViewBag.Title = "Modification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Comman.css" rel="stylesheet" />
<div class="signup-form">
    <form method="post">


        <div class="col-md-12" style="border: 2px solid #777;">
            <div class="row">
                <label class="col-md-1 control-label">Series :</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Name:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value='CS' required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Date:</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Doctor:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value="00" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value="" required="required"></div>
                <label class="col-md-1 control-label">Sale Rate</label>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Inv.No:</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Group:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-2 control-label">T(ax)/R(etail):</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Fixed Dis.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Ret.Mode:Ctrl:-</label>

            </div>
            <div class="row" style="background-color: #8dcaded9;border-style: double;">
                <label class="col-md-1 control-label">Code</label>
                <label class="col-md-2 control-label">Item Name</label>
                <label class="col-md-2 control-label">Batch</label>
                <label class="col-md-1 control-label">Exp.</label>
                <label class="col-md-1 control-label">Qty.</label>
                <label class="col-md-1 control-label">GST%</label>
                <label class="col-md-1 control-label">Sale Rate</label>
                <label class="col-md-1 control-label">Dis.%</label>
                <label class="col-md-1 control-label">Incl.Rate</label>
                <label class="col-md-1 control-label">Amount</label>
            </div>
            <div class="row" style="background-color: #ccc;">

                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row" style="background-color: #ccc;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row" style="background-color: #ccc;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1	 control-label">Case:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Box:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">CGST(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>

            </div>

            <div class="row">
                <label class="col-md-1	 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label">SGST(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1	 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label">Cess(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-2 control-label">Gross Amt</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-4 inputGroupContainer"></div>
                <label class="col-md-1 control-label">Tax Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Net Amt:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Dis.:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-6 inputGroupContainer"></div>
                <label class="col-md-1 control-label">Bill Amt:</label>
                <label class="col-md-1 control-label">0.00</label>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Unit:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Company:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-2 control-label">Batch Code:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-3 control-label"></label>
                <label class="col-md-1 control-label">Sub.Tot.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Cl.Bal.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Pack:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Val.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Adnl Sc.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">IT Net.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Tax Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Location.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">MRP:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">GST%:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Serial No:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-2 control-label">Gross Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Dis.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Net Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>

        </div>
    </form>

</div>

<script>

    $('.edit').click(function () {
        window.location.href = "/Master/Itemdetail";
        //var url = $(this).attr('href');
        //window.open("/Master/Itemdetail", "popupWindow", "width=900,height=600,scrollbars=yes");
        return false;
    });
</script>