
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .highlight {
        background-color: yellow;
    }
</style>
<link href="~/Content/css/Comman.css" rel="stylesheet" />
<div class="signup-form">
    <form method="post">


        <div class="col-md-12" style="border: 2px solid #777;">
            <div class="row">
                <label class="col-md-1 control-label">Series :</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Name:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value='CS' required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Date:</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Doctor:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value="00" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value="" required="required"></div>
                <label class="col-md-1 control-label">Sale Rate</label>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Inv.No:</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Group:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-2 control-label">T(ax)/R(etail):</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Fixed Dis.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Ret.Mode:Ctrl:-</label>

            </div>
            <div class="row" style="background-color: #8dcaded9;border-style: double;">
                <label class="col-md-1 control-label">Code</label>
                <label class="col-md-2 control-label">Item Name</label>
                <label class="col-md-2 control-label">Batch</label>
                <label class="col-md-1 control-label">Exp.</label>
                <label class="col-md-1 control-label">Qty.</label>
                <label class="col-md-1 control-label">GST%</label>
                <label class="col-md-1 control-label">Sale Rate</label>
                <label class="col-md-1 control-label">Dis.%</label>
                <label class="col-md-1 control-label">Incl.Rate</label>
                <label class="col-md-1 control-label">Amount</label>
            </div>
            <div id="BindDynamicRow" class="row" style="background-color: #ccc;height: 150px; overflow-y: scroll;">
              
                @*<div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>*@
            </div>
            @*<div class="row" style="background-color: #ccc;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row" style="background-color: #ccc;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>*@
            <div class="row">
                <label class="col-md-1	 control-label">Case:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Box:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">CGST(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>

            </div>

            <div class="row">
                <label class="col-md-1	 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label">SGST(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1	 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label">Cess(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-2 control-label">Gross Amt</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-4 inputGroupContainer"></div>
                <label class="col-md-1 control-label">Tax Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Net Amt:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Dis.:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-6 inputGroupContainer"></div>
                <label class="col-md-1 control-label">Bill Amt:</label>
                <label class="col-md-1 control-label">0.00</label>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Unit:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Company:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-2 control-label">Batch Code:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-3 control-label"></label>
                <label class="col-md-1 control-label">Sub.Tot.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Cl.Bal.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Pack:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Val.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Adnl Sc.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">IT Net.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Tax Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Location.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">MRP:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">GST%:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Serial No:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-2 control-label">Gross Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Dis.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Net Amt.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control OpenModel" name="Name" value="0.00" required="required"></div>
            </div>

        </div>
    </form>
    <div id="ModelShow" class="col-md-12 modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="row" style="margin-top: -69px;background-color: #8dcaded9;border-style: double;">
                <label class="col-md-1 control-label">BATCH</label>
                <label class="col-md-2 control-label">DATE</label>
                <label class="col-md-2 control-label">RATE</label>
                <label class="col-md-1 control-label">S.C.</label>
                <label class="col-md-1 control-label">GROSS</label>
                <label class="col-md-1 control-label">QTY.</label>
                <label class="col-md-1 control-label">EXP</label>
                <label class="col-md-1 control-label">CODE</label>
                <label class="col-md-1 control-label">COST+VAT</label>
                <label class="col-md-1 control-label">P.Dis.</label>
            </div>
            <div class="row" style="background-color: #ccc;height: 50px; overflow-y: scroll;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-mmd-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
        </div>
    </div>
</div>
<div id="results" class="col-md-12">
    @*<table class="table table-striped">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Color</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody id="data" style="height: 10px !important; overflow: scroll; ">
            <tr>
                <td class="filterable-cell">111 Ford</td>
                <td class="filterable-cell">Escort</td>
                <td class="filterable-cell">Blue</td>
                <td class="filterable-cell">2000</td>
            </tr>
            <tr>
                <td class="filterable-cell">Ford</td>
                <td class="filterable-cell">Escort</td>
                <td class="filterable-cell">Blue</td>
                <td class="filterable-cell">2000</td>
            </tr>
            <tr>
                <td class="filterable-cell">Ford</td>
                <td class="filterable-cell">Escort</td>
                <td class="filterable-cell">Blue</td>
                <td class="filterable-cell">2000</td>
            </tr>
            <tr>
                <td class="filterable-cell">Ford</td>
                <td class="filterable-cell">Escort</td>
                <td class="filterable-cell">Blue</td>
                <td class="filterable-cell">2000</td>
            </tr>
        </tbody>

    </table>*@
    @*<table id="data" class="table table-striped" border="1" cellspacing="1" cellpadding="1">

        <thead>
            <tr class="col-md-12">
                <th>BATCH</th>
                <th>DATE</th>
                <th>RATE</th>
                <th>S.C.</th>
                <th>GROSS</th>
                <th>QTY.</th>
                <th>EXP.</th>
                <th>CODE</th>
                <th>COST+VAT</th>
                <th>P.Dis.</th>
            </tr>
        </thead>
        <tbody>
            <tr class="col-md-12">
                <td>1</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>1</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
           
        </tbody>
    </table>*@
   
    @*<div class="row" style="background-color: #8dcaded9;border-style: double;">
        <label class="col-md-1 control-label">BATCH</label>
        <label class="col-md-2 control-label">DATE</label>
        <label class="col-md-2 control-label">RATE</label>
        <label class="col-md-1 control-label">S.C.</label>
        <label class="col-md-1 control-label">GROSS</label>
        <label class="col-md-1 control-label">QTY.</label>
        <label class="col-md-1 control-label">EXP</label>
        <label class="col-md-1 control-label">CODE</label>
        <label class="col-md-1 control-label">COST+VAT</label>
        <label class="col-md-1 control-label">P.Dis.</label>
    </div>
    <div class="row" style="background-color: #ccc;height: 50px; overflow-y: scroll;"><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
        <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
        <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div><div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div></div>*@
</div>
<div class="modal fade" id="EnSureModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do ypu need change </h4>
            </div>
            <div class="modal-body">
                <p>Are u sure from </p>
                <label id="FromDate"></label>
                <p>To</p>
                <label id="ToDate"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">no</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">yes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function highlight(tableIndex) {
        // Just a simple check. If .highlight has reached the last, start again
        if ((tableIndex + 1) > $('#data tbody tr').length)
            tableIndex = 0;

        // Element exists?
        if ($('#data tbody tr:eq(' + tableIndex + ')').length > 0) {
            // Remove other highlights
            $('#data tbody tr').removeClass('highlight');

            // Highlight your target
            $('#data tbody tr:eq(' + tableIndex + ')').addClass('highlight');
        }
    }

    function NextDownKey() {

        highlight($('#data tbody tr.highlight').index() + 1);
    }
    function NextUpKey() {
        highlight($('#data tbody tr.highlight').index() - 1);
    }
    $(document).keydown(function (e) {

        switch (e.which) {
            case 38:
                NextUpKey();
                break;
            case 40:
                NextDownKey();
                break;
        }

    });
    $(document).ready(function () {
        BindDynamicRow();
    });
    $('.OpenModel').click(function () {
        $("#EnSureModal").modal();
        //$('#ModelShow').modal('show');
        //window.location.href = "/Master/Itemdetail";
        //var url = $(this).attr('href');
        //window.open("/Master/Itemdetail", "popupWindow", "width=900,height=600,scrollbars=yes");
        return false;
    });

    function BindDynamicRow() {
        var BindRow = "";
        for (var i = 0; i <= 20; i++) {
            BindRow += "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control edit' name='Name' required='required'></div>" +
                    "<div class='col-md-2 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-2 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                   "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>" +
                    "<div class='col-md-1 inputGroupContainer'><input type='text' class='form-control' name='Name' required='required'></div>";
        }
        $("#BindDynamicRow").html(BindRow);
    }
</script>