 
@{
    ViewBag.Title = "PurchesIteams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Comman.css" rel="stylesheet" />
<div class="signup-form">
    <form method="post">


        <div class="col-md-12" style="border: 2px solid #777;">
            <div class="row">
                <label class="col-md-2 control-label">Bill / Ledger Date :</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-2 control-label">Supplier:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value='CS' required="required"></div>
 
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Bill No:</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Receive Date:</label>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" value="00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">Trn.No:</label>
                <div class="col-md-3 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Remarks:</label>
                <div class="col-md-4 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-2 control-label">Due Date:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row" style="background-color: #8dcaded9;border-style: double;">
                <label class="col-md-1 control-label">Code</label>
                <label class="col-md-2 control-label">Item Name</label>
                <label class="col-md-2 control-label">Batch</label>
                <label class="col-md-1 control-label">Exp.</label>
                <label class="col-md-1 control-label">Qty.</label>
                <label class="col-md-1 control-label">GST%</label>
                <label class="col-md-1 control-label">Sale Rate</label>
                <label class="col-md-1 control-label">Dis.%</label>
                <label class="col-md-1 control-label">Incl.Rate</label>
                <label class="col-md-1 control-label">Amount</label>
            </div>
            <div class="row" style="background-color: #ccc;">

                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control edit" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row" style="background-color: #ccc;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row" style="background-color: #ccc;">
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1	 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1	 control-label">Less:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1	 control-label">Inc:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1	 control-label">S.Rate:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>

            </div>
            <div class="row">
                <label class="col-md-1	 control-label"></label>
                <div class="col-md-1 inputGroupContainer"></div>
                <label class="col-md-1 control-label">CGST(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>

            </div>
            <div class="row">
                <label class="col-md-1	 control-label">CST%:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">SGST(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1	 control-label">Spl.Rate:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1	 control-label">W.S.Rate:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1	 control-label">GST%:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1	 control-label">Excise:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                
            </div>
            <div class="row">
                <label class="col-md-1	 control-label">MRP:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Cess(%)</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
            </div>
            <div  class="col-md-12" style="border: 2px solid #777;background-color:lightpink;">
            <div class="row">
                <label class="col-md-1 control-label">N.T.AMT:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">SC:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">SCM.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">DIS.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">LESS.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Tax :</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label">INV.AMT.:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                <label class="col-md-1 control-label">Scm.%:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Excise:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                <label class="col-md-1 control-label">Dis1 Amt:</label>
                <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
            </div>
            </div>
            <div class="col-md-12" style="border: 2px solid #777;background-color:mistyrose;">
                <div class="row">
                    <label class="col-md-1 control-label">Unit:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <label class="col-md-1 control-label">N.T.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">SCM.Amt.:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">TAX.Amt   .:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Srl.No.:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                </div>
                <div class="row">
                    <label class="col-md-1 control-label">Cost:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <label class="col-md-1 control-label">Lctn.:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <label class="col-md-1 control-label">SC.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Dis1.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Net.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                   
                </div>
                <div class="row">
                    <label class="col-md-1 control-label">P.SCM:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="control-label">+</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">CI.Qty.:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <label class="col-md-1 control-label">Dis.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Less:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Comp:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                </div>
                <div class="row">
                    <label class="col-md-1 control-label">Pack:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Hs.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <label class="col-md-1 control-label">Gross.Amt:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Scm%:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Dis1.%:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">Vol.:</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                </div>
                <div class="row">
                    <label class="col-md-1 control-label">%</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" value="0.00" required="required"></div>
                    <label class="col-md-1 control-label">%</label>
                    <div class="col-md-1 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <button class="col-md-2"> Save (End) </button>
                    <button class="col-md-2"> Delete Item </button>
                    <button class="col-md-2"> Insert Item </button>
                    <button class="col-md-2"> Modify Item(F5) </button>
                    <button class="col-md-2"> View On Screen</button>
                </div>
                <div class="row">
                    <label class="col-md-2 control-label">Case</label>
                    <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <label class="col-md-2 control-label">Box</label>
                    <div class="col-md-2 inputGroupContainer"><input type="text" class="form-control" name="Name" required="required"></div>
                    <button class="col-md-2"> Cancel Bill</button>
                </div>
            </div>
            </div>
    </form>

</div>

<script>

    $('.edit').click(function () {
        window.location.href = "/Master/Itemdetail";
        //var url = $(this).attr('href');
        //window.open("/Master/Itemdetail", "popupWindow", "width=900,height=600,scrollbars=yes");
        return false;
    });
</script>