
    body{
    color: #fff;
    background: #63738a;
    font-family: 'Roboto', sans-serif;
    }
    .form-control{
    height: 24px;
    box-shadow: none;
    color: #969fa4;
    border: 2px solid #ccc;
    padding: 0px 0px;
    
    }
    .form-control:focus{
    border-color: #5cb85c;
    }
    .form-control, .btn{
    border-radius: 3px;
    }
    .signup-form{
    width:90%;
    margin: 0 auto;
    padding: 30px 0;
    }
    .signup-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
    }
    .signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
    }
    .signup-form h2:before{
    left: 0;
    }
    .signup-form h2:after{
    right: 0;
    }
    .signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
    }
    .signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    /*max-height: 525px;*/
    /* height: 525px; */
    min-height: 800px;
    }

    .signup-form input[type="checkbox"]{
    margin-top: 3px;
    }
    .signup-form .btn{
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
    }
    .signup-form .row div:first-child{
    padding-right: 10px;
    margin-bottom: 6px;
    }
    .signup-form .row div:last-child{
    padding-left: 10px;
    margin-bottom: 6px;
    }
    .signup-form a{
    color: #fff;
    text-decoration: underline;
    }
    .signup-form a:hover{
    text-decoration: none;
    }
    .signup-form form a{
    color: #5cb85c;
    text-decoration: none;
    }
    .signup-form form a:hover{
    text-decoration: underline;
    }
    .h1{

        color:white;
        font-size:44px;
        text-align:center;
        font-weight:800;

    }
    .h4{
        color:green;
        text-align:center;
        margin-left:15%;
       
    }
    .bg{
        color:white;
        background-color:#eb0f0f

    }
    .head{
      
        color:red;
        text-align:left;
        font-size:13px;
        font-weight:900;
        

    }
    .hdoc{
        margin-left: 34%;
        font-size: 16px;
        font-weight: 900;

    }